@forward '$scss/theme';
@use     '$scss/theme';

@import '$scss/reset';

html {
	background-color: theme.$dark;
	color:            theme.$light;

	box-sizing: border-box;
	* {
		box-sizing: border-box;
		user-select: none;
	}

	font-family: 'Montserrat Variable', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
	user-select: auto;
}

body {
	height:          100vh;
	width:           100vw;
	
	font-family: 'Montserrat Variable', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	color: #DFD;
	&:visited {
		color: #FDD;
	}
}

spacer {
	flex-grow: 1;
}