@font-face {
	font-family: Gruppo;
	src: url('fonts/Gruppo/Gruppo-Regular.ttf') format('truetype');
}
@font-face {
	font-family: KellySlab;
	src: url('fonts/Kelly_Slab/KellySlab-Regular.ttf') format('truetype');
}
@font-face {
	font-family: Arima;
	src: url('fonts/Arima/Arima-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
}
@font-face {
	font-family: Comfortaa;
	src: url('fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
}

@font-face {
	font-family: 'Material Symbol';
	font-style: normal;
	src: url( 'fonts/GoogleFonts/MaterialSymbolsSharp.ttf')  format('truetype')
}

.material-symbol {
	font-family: 'Material Symbol';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}
