@font-face {
	font-family: Gruppo;
	src: url('resources/fonts/Gruppo/Gruppo-Regular.ttf') format('truetype');
}
@font-face {
	font-family: KellySlab;
	src: url('resources/fonts/KellySlab/KellySlab-Regular.ttf') format('truetype');
}
@font-face {
	font-family: Arima;
	src: url('resources/fonts/Arima/Arima-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
}