$windows-close: #e81023;

$dire-red-light: #c95050;
$dire-red: #7C3131;
$dire-red-dark: #301313;

$dire-blue-light: #4cffe4;
$dire-blue: #3CC9B4;
$dire-blue-dark: #257c6f;

$black: #1a1a1a;
$white: #ffecec;